name: Build project and run Lighthouse CI
on: [push]
jobs:
  lhci:
    name: Lighthouse CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 16.13.0
        uses: actions/setup-node@v1
        with:
          node-version: 16.13.0
      - name: npm ci
        run: |
          npm ci
      - name: run build
        run: npm run build
      - name: run Lighthouse CI
        run: |
          npm install -g @lhci/cli@0.3.x
          lhci autorun --upload.target=temporary-public-storage || echo "LHCI failed!"
        with:
          outputDirectory: /tmp/artifacts
      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          accessToken: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
          name: Lighthouse reports
          path: /tmp/artifacts
